@page "/"
@using ApiContracts.DTOs
@using BlazorApp1.HttpServices
@inject IPostService PostService
@inject NavigationManager NavMgr

<PageTitle>Home</PageTitle>

 <h1>Some sort of Reddit App</h1>


<AuthorizeView>
    <Authorized>
        <h3>Hello, @context.User.Identity.Name</h3>
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in fam!</p>
        <button @onclick='() => NavMgr.NavigateTo("/Counter")'>Go to login</button>
    </NotAuthorized>
</AuthorizeView>

<p>Here you can browse "interesting" posts.</p>


@code {
    private List<postDTO> posts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await PostService.GetPostsAsync();
        }
        catch (Exception ex)
        {
            // Handle or log the error
            Console.WriteLine($"Error fetching posts: {ex.Message}");
            posts = new List<postDTO>(); // Initialize to empty list on error
        }
    }

}